.self-assessment {
  &-container {
    background-color: rgba(124, 143, 241, 0.1);
    padding: 36px 32px 36px 32px;
    border-radius: 8px;
    color: #290d4d;
    flex: 1;
  }
  &-heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 16px;
  }
  &-points {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &-point {
    display: flex;
    gap: 6px;
    font-size: 18px;
    line-height: 150%;
    align-items: baseline;
  }
  &-point img {
    height: 12px;
    width: 12px;
  }
}

@media only screen and (max-width: 1280px) {
  .self-assessment-container {
    display: none;
  }
}