@font-face {
  font-family: 'Founders Grotesk';
  src: url('./assets/fonts/FoundersGrotesk-Light.otf');
  font-weight: 300;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('./assets/fonts/FoundersGrotesk-LightItalic.otf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('./assets/fonts/FoundersGrotesk-Regular.otf');
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('./assets/fonts/FoundersGrotesk-RegularItalic.otf');
  font-style: italic;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('./assets/fonts/FoundersGrotesk-Medium.otf');
  font-weight: 500;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('./assets/fonts/FoundersGrotesk-MediumItalic.otf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('./assets/fonts/FoundersGrotesk-Semibold.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('./assets/fonts/FoundersGrotesk-SemiboldItalic.otf');
  font-weight: 600;
  font-style: italic, oblique;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('./assets/fonts/FoundersGrotesk-Bold.otf');
  font-weight: 700;
}

@font-face {
  font-family: 'Founders Grotesk';
  src: url('./assets/fonts/FoundersGrotesk-BoldItalic.otf');
  font-weight: 700;
  font-style: italic, oblique;
}

body {
  margin: 0;
  font-family: 'Founders Grotesk';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2F4FE;
  padding-bottom: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 120%;
  margin: 12px 0px;
}

h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  margin: 0px;
}

@media only screen and (max-width: 600px) {
  body {
    padding-bottom: 0px;
  }

  h1 {
    font-weight: 500;
    font-size: 28px;
    line-height: 120%;
  }
}